__pycache__

old_solutions

day_[0-9].txt
day_[0-9][0-9].txt
!day_[0-9]_test.txt
!day_[0-9][0-9]_test.txt

TODO

day_5*
day_6*

day_8*
day_9*
day_10*
day_11*
day_12*
day_13*
day_14*
day_15*
day_16*
day_17*
day_18*
day_19*
day_20*
day_21*
day_22*
day_23*
day_24*
day_25*
